@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
header {
  background: black;
  padding: 15px 0;
}
nav,
.account-content {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.logo .Shop {
  /* color: orange; */
  color: #0ef;
}
.search input {
  padding: 10px 40px;
  border: none;
}

.search input:focus {
  outline: none;
}
.search {
  padding: 3px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 300px;
  border-radius: 25px;
}
.account a,
.item a {
  text-decoration: none;
  color: #fff;
}
.account,
.item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.account i,
.item i {
  color: #0ef;
  font-size: 20px;
}
img {
  width: 100%;
}
.account {
  position: relative;
}
.account_profile {
  padding: 20px;
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 200px;
  top: 30px;
  right: -100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_icon i {
  margin: 4px;
  color: #494747;
  transition: 0.5s;
}
.profile_icon i:hover {
  color: #0ef;
}
.account_profile a {
  color: #494747;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.account_profile img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.account_profile .name {
  margin-top: 6px;
  font-size: 1.2rem;
  cursor: pointer;
}
.account_profile .email {
  color: #494747;
}
.hidden {
  visibility: hidden;
}
/* mobile-brand */
.monile-brand {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mobile-content {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(8, 1fr);
}
.monile-brand h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}
.mobile_brand_child {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 20px;
}
.mobile_brand_child p {
  text-align: center;
  color: #494747;
  transition: 0.5s;
}
.mobile_brand_child p:hover {
  color: #0ef;
}
/* Out_Category */
.Out_Category h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}
.category-parent {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
.child-category img {
  width: 50px;
  height: 50px;
}
.child-category img:hover {
  background: linear-gradient(top to right, #0ef, #0ef);
}

.child-category a:hover {
  color: #0ef;
}
.child-category a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition: 0.5s;
}
.child-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}
.child-category a {
  text-decoration: none;
  text-align: center;
}
/* latest_phone */
.latest_phone h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: center;
}
.latest_phone_parent {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.latest_phone_child img {
  width: 200px;
  height: 200px;
}
.latest_phone_child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}
.latest_phone_child a,
.latest_phone_child p {
  text-decoration: none;
  color: #494747;
  font-size: 1.2rem;
}
.latest_phone_child a:hover,
.latest_phone_child p:hover {
  color: rgb(75, 175, 182);
}
.buy_btn {
  text-transform: uppercase;
  margin-top: 10px;
  width: 100%;
  background: #000;
  padding: 10px 30px;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: 0.5s;
  cursor: pointer;
}
.buy_btn:hover {
  color: #494747;
  background-color: #0ef;
}
/* footer */
footer {
  margin-top: 50px;
  background: #000;
  padding-top: 50px;
}
.logo p {
  font-size: 1rem;
  font-weight: 400;
  color: #0ef;
}
.important_link a {
  text-decoration: none;
  color: #0ef;
  font-size: 0.8rem;
  display: block;
  margin-top: 10px;
  font-weight: 300;
}
.support p {
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
}
.support .phone,
.support .location {
  color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.support .phone:hover,
.support .location:hover {
  border-color: #0ef;
  color: #0ef;
}
.social-media i {
  margin: 10px;
  color: #0ef;
  font-size: 25px;
  cursor: pointer;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.coppy_right p {
  padding: 20px;
  color: #0ef;
  text-align: center;
  font-size: 0.8rem;
}
@media screen and (max-width: 576px) {
  .logo {
    font-size: 2rem;
  }
  .search {
    display: none;
  }

  nav,
  .account-content {
    gap: 10px;
  }
  .item {
    display: none;
  }
  .Out_Category h3 {
    font-size: 2rem;
  }
  .category-parent {
    grid-template-columns: repeat(2, 1fr);
  }
  .child-category a {
    font-size: 1rem;
  }
  .monile-brand h3 {
    font-size: 2rem;
  }
  .mobile-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .account_profile {
    top: 30px;
    right: 1px;
  }
  .footer-content {
    gap: 20px;
    flex-direction: column;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  .support {
    text-align: center;
  }
  .latest_phone_parent {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .latest_phone h3 {
    font-size: 2rem;
  }
}
